POST method not preserved while performing a 302 redirect

Below are sample results from `scrapy shell`:

```python
>>> import scrapy
>>> scrapy.__version__
u'1.3.0'
>>> fetch(scrapy.Request('http://httpbin.org/status/302', method='POST'))
2017-02-02 22:03:31 [scrapy.downloadermiddlewares.redirect] DEBUG: Redirecting (302) to <GET http://httpbin.org/redirect/1> from <POST http://httpbin.org/status/302>
2017-02-02 22:03:31 [scrapy.downloadermiddlewares.redirect] DEBUG: Redirecting (302) to <GET http://httpbin.org/get> from <GET http://httpbin.org/redirect/1>
2017-02-02 22:03:31 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://httpbin.org/get> (referer: None)
```

from which you could see that Scrapy sent a new GET request after having received 302 from a POST request.

[RFC 2616 says](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.3):

> Note: RFC 1945 and RFC 2068 specify that the client is not allowed to change the method on the redirected request.  However, most existing user agent implementations treat 302 as if it were a 303 response, performing a GET on the Location field-value regardless of the original request method. The status codes 303 and 307 have been added for servers that wish to make unambiguously clear which kind of reaction is expected of the client.

Thus I guess we may need to have [the redirect middleware](https://github.com/scrapy/scrapy/blob/master/scrapy/downloadermiddlewares/redirect.py#L77) updated if we are to stick strictly to the RFC.

It looks like wget does the same as scrapy:

`wget --method=POST http://httpbin.org/status/302`
triggers this  on the wire:
```
POST /status/302 HTTP/1.1
User-Agent: Wget/1.18 (linux-gnu)
Accept: */*
Accept-Encoding: identity
Host: httpbin.org
Connection: Keep-Alive
Content-Length: 0

HTTP/1.1 302 FOUND
Server: nginx
Date: Thu, 02 Feb 2017 14:21:02 GMT
Content-Length: 0
Connection: keep-alive
Access-Control-Allow-Origin: *
location: /redirect/1
Access-Control-Allow-Credentials: true

GET /redirect/1 HTTP/1.1
User-Agent: Wget/1.18 (linux-gnu)
Accept: */*
Accept-Encoding: identity
Host: httpbin.org
Connection: Keep-Alive

HTTP/1.1 302 FOUND
Server: nginx
Date: Thu, 02 Feb 2017 14:21:02 GMT
Content-Type: text/html; charset=utf-8
Content-Length: 215
Connection: keep-alive
Location: /get
Access-Control-Allow-Origin: *
Access-Control-Allow-Credentials: true

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>Redirecting...</title>
<h1>Redirecting...</h1>
<p>You should be redirected automatically to target URL: <a href="/get">/get</a>.  If not click the link.

GET /get HTTP/1.1
User-Agent: Wget/1.18 (linux-gnu)
Accept: */*
Accept-Encoding: identity
Host: httpbin.org
Connection: Keep-Alive

HTTP/1.1 200 OK
Server: nginx
Date: Thu, 02 Feb 2017 14:21:02 GMT
Content-Type: application/json
Content-Length: 232
Connection: keep-alive
Access-Control-Allow-Origin: *
Access-Control-Allow-Credentials: true

{
  "args": {}, 
  "headers": {
    "Accept": "*/*", 
    "Accept-Encoding": "identity", 
    "Host": "httpbin.org", 
    "User-Agent": "Wget/1.18 (linux-gnu)"
  }, 
  "origin": "89.84.122.217", 
  "url": "http://httpbin.org/get"
}
```

[RFC7231](http://httpwg.org/specs/rfc7231.html) seems to be describing what Scrapy does here:

```
6.4.3 302 Found

The 302 (Found) status code indicates that the target resource
resides temporarily under a different URI.
Since the redirection might be altered on occasion, the client ought to
continue to use the effective request URI for future requests.

(...)

Note: For historical reasons, a user agent MAY change
the request method from POST to GET for the subsequent request.
If this behavior is undesired, the 307 (Temporary Redirect) status code
can be used instead.

6.4.7 307 Temporary Redirect

The 307 (Temporary Redirect) status code indicates that the target resource
resides temporarily under a different URI
and the user agent MUST NOT change the request method
if it performs an automatic redirection to that URI. (...)

Note: This status code is similar to 302 (Found), 
except that it does not allow changing the request method from POST to GET. 
This specification defines no equivalent counterpart for 301 (Moved Permanently) ([RFC7238], 
however, defines the status code 308 (Permanent Redirect) for this purpose).

```

Thank you @redapple for the explanation! :D