LinkExctractor changing case of URL (but didn't used to)

Regression?
I have a HTML file that contains a link like:

`<a target="_blank" href="http://MYURL/SomePath/services/words/MorePath?abc">Words</a>`

I'm extracting with code that looks like this:
```
	link_extractor = LinkExtractor(
		restrict_xpaths=xpath)

	tmp_links = link_extractor.extract_links(response)
```

But my URL comes back as:
	`http://myurl/SomePath/services/words/MorePath?abc`
	
Note that `MYURL` has become `myurl`.
I've just upgraded from Scrapy 1.7.x to 2.11.1. In 1.7 and previously it would come out as `MYURL`. There's nothing in LinkExtractor docs about changing case, nor can I see anything in the changelogs (but may be missing that)

May or may not be intentional behaviour, but the docs should probably be updated if this is intented to say the case will change.

On it

After investigation I found that above case is due to use of canonicalize_url. This is an important function which helps in finding duplicates, etc. We can definitely document this so that it helps user. 

Its due to safe_url_string used in LxmlParserLinkExtractor

This is done by `safe_url_string()`, which is also used by `Request` itself:

```python
>>> from scrapy import Request
>>> Request("http://MYURL/SomePath/services/words/MorePath?abc").url
'http://myurl/SomePath/services/words/MorePath?abc'
```

I think this is behaving as intended.

> RFC 3986 §6.2.2.1 says scheme and host are case-insensitive and should be normalized to lowercase.