should spider.allowed_domains match same-origin policy?

I believe it would be nice to obey the Web Origin Concept's understanding of same-origin (https://tools.ietf.org/html/rfc6454#section-3.2.1) in `allowed_domains`.
So I'll throw this out here for discussion.

Currently it is impossible to specify, using only `allowed_domains`, when subdomains of a domain should be considered 'off-site', or that actually a different protocol/scheme (or port) should be considered a different origin.

My proposal would be to include or accept actual schemes in `allowed_domains`, such as `https://example.com` to specifiy `http://example.com` or `ftp://example.com` as offsite.

More problematic might be specifying where subdomains of a domain should be offsite, where infact `//github.com` shouldn't match `//someuser.github.com` by default, but cookies and web origins don't use wildcards (I believe) for specifying something as `//*.example.com`. This would be where DNS wildcards help,
but then again, according to DNS wildcards, this shouldn't match the parent domain, so there's a catch here on how to specify `http://[everything.]example.com` while excluding `https` or other schemes.

Such a change would bring scrapy's understanding of "same origin" into line with Cookie Policy, DNS policy and the Web Origin Concept.
See the following RFCs:
Cookies:
[RFC 2109](https://tools.ietf.org/html/rfc2109#section-2) HTTP State Management Mechanism (hist.)
[RFC 2965](https://tools.ietf.org/html/rfc2965#section-1) HTTP State Management Mechanism (hist.)
[RFC 6265](https://tools.ietf.org/html/rfc6265#section-5.1.3) HTTP State Management Mechanism (prop.)
Same-origin:
**[RFC 6454](https://tools.ietf.org/html/rfc6454#section-3.2.1)** The Web Origin Concept
DNS:
[RFC 1034](http://tools.ietf.org/html/rfc1034#section-4.3.3) Domain Names
**[RFC 4592](http://tools.ietf.org/html/rfc4592#section-2.2.1)** The Role of Wildcards in DNS
